*{
			margin: 0%;
		}
		.navigation a{
			text-decoration:none;
			margin-left:5%;
			color: black;
			font-size: 16px;
			font-family: 'Poppins', sans-serif;
			
		}
		.navigation{
			padding:0.5%;
		}
		.logo{
			vertical-align: middle;
			margin: 0% 3% 0% 5%;
		}
		#signin{
			background-color:#00baf2;
			border-radius:25px;
			margin-left:10%;
			padding:1% 1% 1%;
			color: white;
		}
		.smile{
			text-align: center;
			background-color:rgba(239, 239,239,0.8);
			color: black;
			font-size: 20px;
			padding: 0.8%;
		}
		.sec1{
			display: flex;
			justify-content: space-between;
			padding: 8% 0% 8% 8%;
			font-family: 'Poppins', sans-serif;
			
		}
		.loved{
			font-size: 70px;
			padding-bottom: 3%;
		}
		.recharge{
			font-size: 30PX;
		}
		.app{
			border: 1px;
			background-color:black;
			color: white;
			width: 50%;
			text-align: center;
			padding: 2% 0.4%;
			border-radius: 25px;
			margin-top: 2%;
		}